include _assets/bemto/bemto
- set_bemto_settings({ modifier: "--" })

include head/head

doctype html
html(lang="ru")

	block head
		head
			+head({
				"title": "Gulp + Pug + SASS + BEM",
				"author": "Alexandr Ponomarenko",
				"description": "Gulp + Pug + SASS + BEM Boilerplate"
			})
			
		body
			block content
				div content

			block footer
				footer footer
				
			block vendors
				// build:js js/vendor.js
				//- script( src="libs/jquery/dist/jquery.min.js")
				// endbuild

			block scripts
				// build:js js/main.js
				script( src="js/main.js")
				// endbuild
