$xs: "(min-width: 319px)"
$_xs: "(max-width: 350px)"
$sm: "(min-width: 767px)"
$_sm: "(max-width: 766px)"
$md: "(min-width: 1025px)"
$_md: "(max-width: 1024px)"
$lg: "(min-width: 1224px)"
$xlg: "(min-width: 1800px)"

$cols: 6
$col: calc( 100% / #{$cols} )

.container
  margin: 0 auto
  @media #{$xs}
    width: 100%
  @media #{$sm}
    width: 750px
  @media #{$md}
    width: 960px
  &--parent
    position: relative

.container-fluid
  width: 90%
  margin: 0 auto

=col-xs($num)
  @media #{$xs}
    // width: calc( (((100% - (#{$gutter} * (#{$cols} - 1))) / #{$cols}) * #{$num}) + ( #{$gutter} * (#{$num} - 1)) )
    width: calc( #{$col} * #{$num} )
=col-sm($num)
  @media #{$sm}
    // width: calc( (((100% - (#{$gutter} * (#{$cols} - 1))) / #{$cols}) * #{$num}) + ( #{$gutter} * (#{$num} - 1)) )
    width: calc( #{$col} * #{$num} )
=col-md($num)
  @media #{$md}
    // width: calc( (((100% - (#{$gutter} * (#{$cols} - 1))) / #{$cols}) * #{$num}) + ( #{$gutter} * (#{$num} - 1)) )
    width: calc( #{$col} * #{$num} )
=col-lg($num)
  @media #{$lg}
    // width: calc( (((100% - (#{$gutter} * (#{$cols} - 1))) / #{$cols}) * #{$num}) + ( #{$gutter} * (#{$num} - 1)) )
    width: calc( #{$col} * #{$num} )
=col-xlg($num)
  @media #{$xlg}
    // width: calc( (((100% - (#{$gutter} * (#{$cols} - 1))) / #{$cols}) * #{$num}) + ( #{$gutter} * (#{$num} - 1)) )
    width: calc( #{$col} * #{$num} )
